@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

/* common shared styles */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.headings-primary {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.paragraph-primary {
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border: 0;
    max-width: 180px;
    padding: 10px;
    margin: 0 auto;
}

main {
    width: 1440px;
    margin: 0 auto;
}

/* header styles */
.header {
    background-color: rgba(255, 144, 14, 0.10);
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 240px;
    align-items: center;
    padding-bottom: 40px;
}

.nav * {
    margin: 10px;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav a {
    text-decoration: none;
    padding-left: 30px;

}

.banner {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.banner-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    max-width: 860px;
    margin: 0 auto;
}

.banner-title h1 {
    padding: 0;
    margin: 0;
}

.banner-description {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin-bottom: 1.25rem;
}

.banner-img {
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 45px;
}

/* teams section styles */
.teams {
    display: flex;
    justify-content: center;
    align-items: center;
}

.teams-imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 50px;
    padding-left: 50px;
}

.teams-features {
    padding: 76px;
    text-align: left;
}

.teams-features * {
    margin: 15px 0;
}

.teams-features .quick-list {
    font-size: 2.8rem;

}

.teams-features .of-our {
    font-size: 2.8rem;
    font-weight: 700;
}

.teams-features .span-features {
    color: #FF900E;
}

/* features section styles */
.features {
    display: flex;
    margin-top: 150px;
}

.features-texts .features-text-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 24px;

}

.features .features-cards .card {
    border-radius: 18px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 50px 40px;
}

.features .features-cards h3 {
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
    /* padding: 0 20px; */
}

.features .features-cards p {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;

}

.features .features-img {
    margin-left: 146px;
    position: relative;
    top: -50px;
}

.features .features-btn {
    text-align: center;
    padding: 50px 20px;
    font-size: 2rem;
    font-weight: 800;
    position: relative;
    top: -120px;
    right: 50px;
    border: 0;
    background-color: #FF900E;
    color: #fff;
    border-radius: 5px;
    border: 8px solid white;
}

/* some facts section style */
.some-facts-description p {
    width: 40%;
    font-size: 1rem;
}

.some-facts-cards {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 50px;
}

.some-facts-cards * {
    padding: 5px 0;
}

.some-facts-cards p {
    color:  #727272;
    font-size: 1.2rem;
    font-weight: 600;
}

/* sponsors section styles */


/* media query */
@media screen and (max-width: 576px) {
    main {
        width: 100%;
        /* margin: 0 auto; */
    }

    .nav {
        flex-direction: column;
        margin: 0;
    }

    .nav a {
        padding-left: 0;

    }

    .banner-title {
        font-size: 2.5rem;
        font-weight: 600;
    }

    .banner-img img {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .teams {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .teams-imgs {
        grid-template-columns: 1fr;
        padding: 20px 0;
        margin: 0;
    }

    .teams-features {
        padding: 0;
        margin: 0;
        width: 80%;
    }

    .hide {
        display: none;
    }

    .features {
        flex-direction: column;
    }

    .features .features-img {
        position: static;
        margin: 0 auto;
        width: 90%;
    }

    .features .features-img img {
        width: 100%;

    }

    .features .features-btn {
        padding: 20px 10px;
        font-size: 1.5rem;
        font-weight: 600;
        border: none;
        position: relative;
        left: 8px;

    }

    .features .features-text-description p {
        width: 96%;
        margin: 0 auto;
        text-align: left;
    }

}

/* tablet */
@media screen and (min-width:576px) and (max-width:960px) {
    main {
        width: 100%;
    }

    .nav {
        flex-direction: column;
        margin: 0;
    }

    .banner-img img {
        width: 100%;
    }

    .teams {
        flex-direction: column;
    }

    .teams-features {
        padding: 0;
        margin: 0;
        width: 80%;
    }

    .teams-imgs {
        padding: 0;

    }

    .features {
        flex-direction: column;
    }

    .features .features-img {
        position: static;
        margin: 0 auto;
        width: 90%;
    }

    .features .features-img img {
        width: 100%;

    }

    .features .features-btn {
        padding: 20px 10px;
        font-size: 1.5rem;
        font-weight: 600;
        border: none;
        position: relative;
        left: 8px;

    }

    .features .features-text-description p {
        width: 96%;
        margin: 0 auto;
    }

}